/* static/styles/style.css */

html, body {height: 100%;}
      
body {
	background-image: url("{{url_for('static', filename='hermes.jpg')}}");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: 'orange';
}

.nav-item{
	color:'blue';
}